{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/css/filtre.css" rel="stylesheet">

    {# ugly but functional #}
    <style>
        body {
            background-image: url("{{ background }}");
        }
    </style>
{% endblock %}

{% block body %}
    <h1>bienvenue !</h1>

    <main class="flex-column">

        <div id="question" class="text-left ml-5 mt-5 p-4">
            {% include 'filtre/choiceList.html.twig' %}
        </div>

        <div class="mapLink">
            <a href="{{ path('map_page') }}">
                <img src="/images/bestiole.png">
                <br>
                Aller à la carte
            </a>
        </div>

        <a class="btn btn-secondary" title="Revenir au choix précédent"
           href="{{ path('page_filtre') }}">
            TODO: icône «retour en arrière»
        </a>

    </main>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script src="/js/ajax.js"></script>

    <script>
        currentState = {{ currentState | json_encode() | raw }};
    </script>
    <script src="/js/filterPage.js"></script>
{% endblock %}
