{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-12 text-center">
                &lg;Titre ici&gt;
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-10 text-centered">

                <div class="mapAsBackground constant-ratio relativeContainer" id="map">
                    {# for now, parameters in yml cannot be associative arrays,
                        so we were obliged to use an indexed one #}
                    <div style="position: absolute; top: {{ viewerPos[1] }}%; left: {{ viewerPos[0] }}%"
                        title="You are here!">
                        X
                    </div>

                    {# list of attractions and other things to show #}
                    {% for element in attractionList %}
                        <div style="position: absolute;
                                top: {{ attractionPositions[loop.index0].y }}%;
                                left: {{ attractionPositions[loop.index0].x }}%">
                            <img src="{{ element.imageUrl }}"
                                alt="{{ element.name }}, {{ element.shortDescription }}"
                                title="{{ element.name }}, {{ element.shortDescription }}"
                            >
                        </div>

                    {% endfor %}
                </div>

            </div>

            <div class="col-12 col-lg-2">
                test
            </div>
        </div>

        <div class="col-12 text-center">
            <p>footer</p>
        </div>

    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/map.css">
{% endblock %}
